<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grepp.spring.app.model.order.OrderRepository">

    <!-- 이메일로 주문 조회 -->
    <select id="selectByEmailJoinMenu" resultType="com.grepp.gridncircle.app.model.order.dto.OrderCheckDto">
        select
            o.id,
            sum(m.price * om.quantity) as total_price,
            sum(om.quantity) as total_quantity
        from orders o
        JOIN ordered_menu om ON o.id = om.order_id
        JOIN menu m ON om.menu_id = m.id
        WHERE o.user_email = #{email}
        GROUP BY o.id
    </select>

    <!-- 사용자 아이디로 주문 조회 -->
    <select id="selectByUserIdJoinMenu" resultType="com.grepp.gridncircle.app.model.order.dto.OrderCheckDto">
        select
            o.id,
            sum(m.price * om.quantity) as total_price,
            sum(om.quantity) as total_quantity
        from orders o
        JOIN ordered_menu om ON o.id = om.order_id
        JOIN menu m ON om.menu_id = m.id
        WHERE o.user_id = #{userId}
        GROUP BY o.id
    </select>

<!--    주문 id로 비회원 주문 상세보기 -->
    <select id="selectGuestOrderDetailById" resultType="com.grepp.gridncircle.app.model.order.dto.OrderDetailDto">
        SELECT
        o.id AS orderId,
        o.status AS orderStatus,
        o.user_address AS userAddress,
        (SELECT SUM(m.price * om.quantity)
        FROM ordered_menu om
        JOIN menu m ON om.menu_id = m.id
        WHERE om.order_id = o.id) AS totalPrice,
        m.name AS menuName,
        m.price AS menuPrice,
        om.quantity AS quantity,
        (m.price * om.quantity) AS totalPricePerItem
        FROM orders o
        JOIN ordered_menu om ON o.id = om.order_id
        JOIN menu m ON om.menu_id = m.id
        WHERE o.id = #{orderId}
    </select>

</mapper>
