.cardbox {
    display: flex;
    flex-wrap: wrap;         /* 줄바꿈 허용 */
    gap: 20px;               /* 카드 사이 여백 */
    justify-content: flex-start; /* 왼쪽 정렬 */
    padding: 20px;
    /*border: solid crimson ;*/
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    flex-direction: row;
    min-height: 500px;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 215px;        /* 카드 최대 크기 제한 (선택사항) */
    height: 380px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    border: 1px solid black;
}

.card-image {
    flex: 3;
    width: 100%;
    height: 250px;/* 원하는 높이 */
    object-fit: contain; /* 비율 유지하며 빈 공간 채우기 */
    display: block;
    margin: 0 auto;
    /*border: 1px solid black;*/
}

.card-content{
    flex: 2;
    width: 100%;
    object-fit: contain; /* 비율 유지하며 빈 공간 채우기 */
    display: block;
    margin: 0 auto;
    /*border: 1px solid black;*/

}

.card:hover {
    transform: translateY(-5px); /* 위로 5px 떠오름 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 그림자 진해짐 */
    transform: scale(1.03);

}


.section{
    /*border: 1px solid red;*/
}

.up {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

#imagebox {
    flex: 2;
    max-width: 500px;
    /*border: 1px solid green;*/
}

#imagebox img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

#namebox {
    flex: 1;
    display: flex;
    justify-content: center; /* 좌우 가운데 */
    align-items: center;      /* 위아래 가운데 */
    height: 600px; /* div 높이 설정 필요. 원하는 값으로 바꿔도 돼 */
    /*border: 1px solid orange;*/

}

#namebox table {
    font-size: 18px;
    border: none;
    border-collapse: collapse; /* (옵션) 선 겹치는 것도 방지 */
}

#namebox table td, #namebox table th #namebox table tr {
    border: none;
}

.down {
    /*margin-top: 10px;*/
    margin-bottom: 20px;
    font-size: 20px;
}

#info {
    padding: 10px;
    /*border: 1px solid red;*/
}

.infoimage
{
    min-height: 5000px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*border: 1px solid darkblue;*/
    /*display: flex;*/
    /*justify-content: center;*/

}

.infoimage img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비율 유지하면서 div 꽉 채우기 */
}