<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grepp.gridncircle.app.model.payment.PaymentRepository">

  <resultMap id="orderMap" type="com.grepp.gridncircle.app.model.order.dto.OrderDto">
    <id property="id" column="id"/>
    <result property="userId" column="user_id"/>
    <result property="name" column="user_name"/>
    <result property="userEmail" column="user_email"/>
    <result property="userAddress" column="user_address"/>
    <result property="createdAt" column="created_at"/>
    <result property="status" column="status" javaType="com.grepp.gridncircle.app.model.order.code.OrderStatus"/>
  </resultMap>

  <!-- 주문 조회 -->
  <select id="selectOrderById" parameterType="int" resultMap="orderMap">
    SELECT * FROM orders WHERE id = #{orderId}
  </select>

  <!-- 주문한 메뉴 정보 조회 -->
  <select id="selectOrderedMenuByOrderId" parameterType="int" resultType="com.grepp.gridncircle.app.model.payment.dto.PaymentDto">
    SELECT
    m.id AS id,
    m.name AS name,
    m.price AS price,
    om.quantity AS quantity
    FROM ordered_menu om
    JOIN menu m ON om.menu_id = m.id
    WHERE om.order_id = #{orderId}
  </select>

  <select id="selectById" resultType="com.grepp.gridncircle.app.model.menu.dto.MenuDto">
    SELECT * FROM menu WHERE id = #{id}
  </select>

  <!--회원 주문 저장-->
  <insert id="insertOrderForMember" parameterType="com.grepp.gridncircle.app.model.order.dto.OrderDto"
    useGeneratedKeys="true" keyProperty="id">
    INSERT INTO orders (user_id, user_name, user_email, user_address, status)
    VALUES (#{userId}, #{name}, #{userEmail}, #{userAddress}, #{status})
  </insert>
<!--비회원 주문 저장-->
  <insert id="insertOrderForGuest" parameterType="com.grepp.gridncircle.app.model.order.dto.OrderDto"
    useGeneratedKeys="true" keyProperty="id">
    INSERT INTO orders (user_id, user_email, user_address, status)
    VALUES (#{userId}, #{userEmail}, #{userAddress}, #{status})
  </insert>


  <!-- 메뉴 저장 -->
  <insert id="insertOrderedMenu">
    INSERT INTO ordered_menu (order_id, menu_id, quantity)
    VALUES (#{orderId}, #{menuId}, #{quantity})
  </insert>

  <update id="updateAmount" parameterType="map">
    UPDATE menu
    SET amount = #{amount}
    WHERE id = #{id}
  </update>



</mapper>