<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grepp.gridncircle.app.model.payment.PaymentRepository">

  <!-- 메뉴 가격 조회 -->
  <select id="selectPriceByMenuId" resultType="int">
    SELECT price FROM menu WHERE id = #{menuId}
  </select>

  <!-- 주문 총금액 업데이트 -->
  <update id="updateOrderTotalPrice"
    parameterType="com.grepp.gridncircle.app.model.order.dto.OrderDto">
    UPDATE orders
    SET total_price = (
    SELECT SUM(m.price * om.quantity)
    FROM ordered_menu om
    JOIN menu m ON om.menu_id = m.id
    WHERE om.order_id = #{id}
    )
    WHERE id = #{id}
  </update>

  <!-- 주문 생성 -->
  <insert id="insertOrder" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO orders (user_id, user_name, user_email, user_address, created_at, status)
    VALUES (#{userId}, #{userName}, #{userEmail}, #{userAddress}, NOW(), 'ORDER_ACCEPT')
  </insert>

  <!-- 메뉴-주문 저장 -->
  <insert id="insertOrderedMenu">
    INSERT INTO ordered_menu (order_id, menu_id, quantity)
    VALUES (#{orderId}, #{menuId}, #{quantity})
  </insert>

</mapper>